<a href="https://colab.research.google.com/github/PaletteofDesign/knn/blob/main/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
import pandas as pd
import numpy as np
# For scaling data
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier

In [9]:
f = '/content/abalone.data'
df = pd.read_csv(f, delimiter=',', header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [21]:
df.rename(columns={0:'Sex', 1:'Length', 2:'Diameter', 3:'Height', 4:'Whole Weight', 5:'Shucked Weight', 6:'Viscera Weight', 7:'Shell Weight', 8:'Rings'}, inplace=True)
df.head()

  Sex  Length  Diameter  ... Viscera Weight  Shell Weight  Rings
0   M   0.455     0.365  ...         0.1010         0.150     15
1   M   0.350     0.265  ...         0.0485         0.070      7
2   F   0.530     0.420  ...         0.1415         0.210      9
3   M   0.440     0.365  ...         0.1140         0.155     10
4   I   0.330     0.255  ...         0.0395         0.055      7

[5 rows x 9 columns]

In [19]:
df['Sex'].value_counts(normalize=True)

M    0.365813
I    0.321283
F    0.312904
Name: Sex, dtype: float64

In [40]:
X = df.loc[:,['Length', 'Diameter', 'Height', 'Whole Weight', 'Shucked Weight', 'Viscera Weight', 'Shell Weight', 'Rings']]
X

      Length  Diameter Height  ...  Viscera Weight  Shell Weight  Rings
0      0.455     0.365  0.095  ...          0.1010        0.1500     15
1      0.350     0.265   0.09  ...          0.0485        0.0700      7
2      0.530     0.420  0.135  ...          0.1415        0.2100      9
3      0.440     0.365  0.125  ...          0.1140        0.1550     10
4      0.330     0.255   0.08  ...          0.0395        0.0550      7
...      ...       ...    ...  ...             ...           ...    ...
4172   0.565     0.450  0.165  ...          0.2390        0.2490     11
4173   0.590     0.440  0.135  ...          0.2145        0.2605     10
4174   0.600     0.475  0.205  ...          0.2875        0.3080      9
4175   0.625     0.485   0.15  ...          0.2610        0.2960     10
4176   0.710     0.555  0.195  ...          0.3765        0.4950     12

[4177 rows x 8 columns]

In [47]:
X.shape

(4177, 8)

In [42]:
y = df.loc[:, 'Sex']

In [43]:
y.shape

(4177,)

In [48]:
scaler = StandardScaler()

In [49]:
scaler.fit(X)

ValueError: ignored